.formTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
}

.heading {
  color: #06509E;
  margin-bottom: 0;
}

.errorMessage {
  padding: 1.5rem;
  background-color: #fef2f2;
  color: #dc2626;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.loadingMessage {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;
}